body {
<<<<<<< HEAD
    background-color:grey;
=======
     background-color:rgb(247, 242, 242);
>>>>>>> fcb82a65c0575889b716e02de8868c1800eb69a0
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#about{
<<<<<<< HEAD
      background-color:grey;
=======
      background-color:rgb(247, 242, 242);
>>>>>>> fcb82a65c0575889b716e02de8868c1800eb69a0
}