* {
  margin:0;
  padding:0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

a:link,a:visited,a:hover,a:active {
  color: unset;
}

body {
  background-color:white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
#about{
  background-color:lightblue;
}

.header{
  display: flex;
  justify-content:space-between;
}

.header li{
  padding: 10px;
}

#about{
  width:100vw;
}

.content{
   width:80vw;
   margin:0 auto;
}
#about ul{
  display:flex;
  flex-direction: column;
}

#about ul li img{
  width:250px;
  /* height: 100%; */
  object-fit: contain;
}

